
{% extends 'base.html' %}
{% block header_block %}
Login
{% endblock %}
{% block class_block %}
bg-dark
{% endblock %}
{% block body_block %}


<br><br><br>
<div class="row">
    <div class="col-md-4">
    </div>
<div class="col-md-4">

    <form class="form-signin"  action="{% url 'firstApp:userlogin' %}" method="POST" >
      {% csrf_token %}


      <div class="form-group">
          <label for="inputEmail" class="">Username</label>
          <input type="text" name="username" id="inputEmail"
            placeholder="Email address" required autofocus>
      </div>
<br><br>

      <div class="form-group">

          <label for="inputPassword" class="">Password</label>
          <input type="password" name="password" id="inputPassword"
          placeholder="Password" required>
      </div>
<br><br>
<div class="form-group">
  <label for="inputPassword" class="" hidden>Sign in</label>
  <button class="btn btn-info" type="submit"style="">Sign in</button>
</div>


    </form>
</div>
</div>

{% endblock %}
